version: '3.8'
services:
  appseed-app:
    container_name: appseed_app
    restart: always
    env_file: .env
    # image: black_dash_appseed-app:latest
    build: .
    expose:
      - '5058'
      - '5005'
    networks:
      - db_network
      - web_network
    depends_on: 
      - db
  nginx:
    container_name: nginx
    restart: always
    image: "nginx:latest"
    ports:
      - "5085:5085"
    volumes:
      - ./nginx:/etc/nginx/conf.d
    networks:
      - web_network
    depends_on: 
      - appseed-app
  db:
    container_name: db
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASS}
      MYSQL_ROOT_PASSWORD: ${DB_PASS}
    ports:
      - '3306:3306'
    expose:
      - '3306'
    volumes:
      - my-db:/var/lib/mysql
    networks:
      - db_network
      - web_network
  mongodb:
    image: mongo:5.0
    ports:
      - 27017:27017
    volumes:
      - ../mongo-db-volume:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
      - MONGO_INITDB_DATABASE=data_pipline
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongo mongo:27017/data_pipline --quiet
      interval: 10s
      timeout: 10s
      retries: 5
    restart: always
    networks:
      - db_network
      - web_network
  web_api:
    # image: dashboard_api:latest 
    build: ../twitter/
    ports:
      - 10015:10015
    volumes:
      - ../mongo-db-volume:/data/db
    restart: always
    networks:
      - db_network
      - web_network
# Names our volume
volumes:
  my-db:
  nginx:
  mongo-db-volume:


networks:
  db_network:
    driver: bridge
  web_network:
    driver: bridge
 