<div class="sidebar">
  <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
  -->
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="javascript:void(0)" class="simple-text logo-mini">
        ط م
      </a>
      <a href="/" class="simple-text logo-normal">
        جهانبین
      </a>
    </div>
    <ul class="nav">
      <li>
        <a href="/">
          <i class="tim-icons icon-chart-pie-36"></i>
          <p>داشبورد</p>
        </a>
      </li>
      <li>
        <a href="{% url 'icons' %}">
          <i class="tim-icons icon-atom"></i>
          <p>سرفصل اخبار</p>
        </a>
      </li>
      <li>
        <a href="{% url 'map' %}">
          <i class="tim-icons icon-pin"></i>
          <p>مکان ها</p>
        </a>
      </li>
      <li>
        <a href="{% url 'notifications' %}">
          <i class="tim-icons icon-bell-55"></i>
          <p>اختارها</p>
        </a>
      </li>
      <li>
        <a href="{% url 'user_profile' %}">
          <i class="tim-icons icon-single-02"></i>
          <p>کاربر</p>
        </a>
      </li>
      <li>
        <a href="{% url 'tables' %}">
          <i class="tim-icons icon-puzzle-10"></i>
          <p>جداول خبری</p>
        </a>
      </li>
      <li>
        <a href="{% url 'typography' %}">
          <i class="tim-icons icon-align-center"></i>
          <p>گزارشات</p>
        </a>
      </li>
    </ul>
  </div>
</div>