{% extends "layouts/base.html" %}

{% block title %} Notifications {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="alert alert-success">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b>خبرگزاری مهر، گروه فرهنگ و ادب </span></div>
              <div class="text-right"><span> سالروز آزادسازی خرمشهر بهانه خوبی برای سرک‌کشیدن به تاریخ و زوایای دیگر این‌واقعه تاریخی است. آزادسازی خرمشهر را نمی‌توان تنها نتیجه عملیات بیت‌المقدس دانست. بلکه چندعملیات سلسله‌وار و پشت‌سر هم بودند که زمینه را برای انجام «الی بیت‌المقدس» فراهم کردند؛ عملیات‌های طریق‌القدس، ثامن‌الائمه، فتح‌المبین و در نهایت بیت‌المقدس بودند که منجر به آزادسازی بخش‌های زیادی از خاک کشورمان از اشغال دولت بعثی عراق شدند. خرمشهر نیز بخشی از مناطق آزادشده بود.</span></div>
            </div>
            <div class="alert alert-info">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b>خبرگزاری مهر، گروه فرهنگ و ادب </span></div>
              <div class="text-right"><span>  امیر سرلشگر سیدعبدالرحیم موسوی پیش از ظهر امروز پنجشنبه در آئین گرامیداشت چهارم خرداد روز مقاومت و پایداری، روز دزفول که با حضور مردم و مسئولان در حسینیه ثارالله دزفول برگزار شد، ضمن تبریک ایام مبارک دهه کرامت، اظهار کرد: چهارم خرداد، روز مقاومت و پایداری مردم دزفول است و تقویم جمهوری اسلامی ایران که پر از روزهای بزرگ است به اینکه یک برگش به نام روز دزفول مزین شده افتخار خواهد کرد.</span></div>
            </div>
            <div class="alert alert-success">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b> رئیس مرکز مطالعات راهبردی ارتش جمهوری اسلامی ایران</span></div>
              <div class="text-right"><span> ملت بزرگ ایران مؤلفه‌های قدرت فراوانی دارد، خود را بازیابی کرده و اعتماد به نفس ملی را پیدا کرده است به همین خاطر در طوفان‌های حوادثی که دشمنان ایجاد می‌کنند، با قوت و استحکام جلو می‌رود و تا پیروزی نهایی این مسیر را طی می‌کند.</span></div>
            </div>
            <div class="alert alert-info">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b> امیر سرتیپ احمدرضا پوردستان </span></div>
              <div class="text-right"><span>  پنج شنبه در صبحگاه مشترک رژه نیروهای مسلح استان مرکزی به مناسبت سوم خرداد اظهار داشت: اگر ملتی یا مجموعه‌ای برای جنگ آماده باشد و از ناملایمات نهراسد در جنگ پیروز خواهد شد.</span></div>
            </div>
            <div class="alert alert-success">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b>امیر سرلشکر سیدعبدالرحیم موسوی</span></div>
              <div class="text-right"><span>صبح امروز پنجشنبه همزمان با چهارم خرداد روز مقاومت و پایداری مردم دزفول وارد مرکز فرهنگی و موزه دفاع مقدس دزفول شد و از ۲۸ هزار و ۳۴۲ برگ سند دوران دفاع مقدس ارتش در قالب ۱۴۱ جلد کتاب رونمایی کرد.</span></div>
            </div>
            <div class="alert alert-info">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b> امیر سرتیپ احمدرضا پوردستان </span></div>
              <div class="text-right"><span>  پنج شنبه در صبحگاه مشترک رژه نیروهای مسلح استان مرکزی به مناسبت سوم خرداد اظهار داشت: اگر ملتی یا مجموعه‌ای برای جنگ آماده باشد و از ناملایمات نهراسد در جنگ پیروز خواهد شد.</span></div>
            </div>
            <div class="alert alert-success">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b>امیر سرلشکر سیدعبدالرحیم موسوی</span></div>
              <div class="text-right"><span>صبح امروز پنجشنبه همزمان با چهارم خرداد روز مقاومت و پایداری مردم دزفول وارد مرکز فرهنگی و موزه دفاع مقدس دزفول شد و از ۲۸ هزار و ۳۴۲ برگ سند دوران دفاع مقدس ارتش در قالب ۱۴۱ جلد کتاب رونمایی کرد.</span></div>
            </div>
            <div class="alert alert-info">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b> امیر سرتیپ احمدرضا پوردستان </span></div>
              <div class="text-right"><span>  پنج شنبه در صبحگاه مشترک رژه نیروهای مسلح استان مرکزی به مناسبت سوم خرداد اظهار داشت: اگر ملتی یا مجموعه‌ای برای جنگ آماده باشد و از ناملایمات نهراسد در جنگ پیروز خواهد شد.</span></div>
            </div>
            <div class="alert alert-success">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b>امیر سرلشکر سیدعبدالرحیم موسوی</span></div>
              <div class="text-right"><span>صبح امروز پنجشنبه همزمان با چهارم خرداد روز مقاومت و پایداری مردم دزفول وارد مرکز فرهنگی و موزه دفاع مقدس دزفول شد و از ۲۸ هزار و ۳۴۲ برگ سند دوران دفاع مقدس ارتش در قالب ۱۴۱ جلد کتاب رونمایی کرد.</span></div>
            </div>
            <div class="alert alert-info">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b> امیر سرتیپ احمدرضا پوردستان </span></div>
              <div class="text-right"><span>  پنج شنبه در صبحگاه مشترک رژه نیروهای مسلح استان مرکزی به مناسبت سوم خرداد اظهار داشت: اگر ملتی یا مجموعه‌ای برای جنگ آماده باشد و از ناملایمات نهراسد در جنگ پیروز خواهد شد.</span></div>
            </div>
            <div class="alert alert-success">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b>امیر سرلشکر سیدعبدالرحیم موسوی</span></div>
              <div class="text-right"><span>صبح امروز پنجشنبه همزمان با چهارم خرداد روز مقاومت و پایداری مردم دزفول وارد مرکز فرهنگی و موزه دفاع مقدس دزفول شد و از ۲۸ هزار و ۳۴۲ برگ سند دوران دفاع مقدس ارتش در قالب ۱۴۱ جلد کتاب رونمایی کرد.</span></div>
            </div>
            <div class="alert alert-info">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b> امیر سرتیپ احمدرضا پوردستان </span></div>
              <div class="text-right"><span>  پنج شنبه در صبحگاه مشترک رژه نیروهای مسلح استان مرکزی به مناسبت سوم خرداد اظهار داشت: اگر ملتی یا مجموعه‌ای برای جنگ آماده باشد و از ناملایمات نهراسد در جنگ پیروز خواهد شد.</span></div>
            </div>
            <div class="alert alert-success">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b>امیر سرلشکر سیدعبدالرحیم موسوی</span></div>
              <div class="text-right"><span>صبح امروز پنجشنبه همزمان با چهارم خرداد روز مقاومت و پایداری مردم دزفول وارد مرکز فرهنگی و موزه دفاع مقدس دزفول شد و از ۲۸ هزار و ۳۴۲ برگ سند دوران دفاع مقدس ارتش در قالب ۱۴۱ جلد کتاب رونمایی کرد.</span></div>
            </div>
            <div class="alert alert-info">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b> امیر سرتیپ احمدرضا پوردستان </span></div>
              <div class="text-right"><span>  پنج شنبه در صبحگاه مشترک رژه نیروهای مسلح استان مرکزی به مناسبت سوم خرداد اظهار داشت: اگر ملتی یا مجموعه‌ای برای جنگ آماده باشد و از ناملایمات نهراسد در جنگ پیروز خواهد شد.</span></div>
            </div>
            <div class="alert alert-success">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b>امیر سرلشکر سیدعبدالرحیم موسوی</span></div>
              <div class="text-right"><span>صبح امروز پنجشنبه همزمان با چهارم خرداد روز مقاومت و پایداری مردم دزفول وارد مرکز فرهنگی و موزه دفاع مقدس دزفول شد و از ۲۸ هزار و ۳۴۲ برگ سند دوران دفاع مقدس ارتش در قالب ۱۴۱ جلد کتاب رونمایی کرد.</span></div>
            </div>
            <div class="alert alert-info">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b> امیر سرتیپ احمدرضا پوردستان </span></div>
              <div class="text-right"><span>  پنج شنبه در صبحگاه مشترک رژه نیروهای مسلح استان مرکزی به مناسبت سوم خرداد اظهار داشت: اگر ملتی یا مجموعه‌ای برای جنگ آماده باشد و از ناملایمات نهراسد در جنگ پیروز خواهد شد.</span></div>
            </div>
            <div class="alert alert-success">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b>امیر سرلشکر سیدعبدالرحیم موسوی</span></div>
              <div class="text-right"><span>صبح امروز پنجشنبه همزمان با چهارم خرداد روز مقاومت و پایداری مردم دزفول وارد مرکز فرهنگی و موزه دفاع مقدس دزفول شد و از ۲۸ هزار و ۳۴۲ برگ سند دوران دفاع مقدس ارتش در قالب ۱۴۱ جلد کتاب رونمایی کرد.</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="alert alert-success">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b>خبرگزاری مهر، گروه فرهنگ و ادب </span></div>
              <div class="text-right"><span> سالروز آزادسازی خرمشهر بهانه خوبی برای سرک‌کشیدن به تاریخ و زوایای دیگر این‌واقعه تاریخی است. آزادسازی خرمشهر را نمی‌توان تنها نتیجه عملیات بیت‌المقدس دانست. بلکه چندعملیات سلسله‌وار و پشت‌سر هم بودند که زمینه را برای انجام «الی بیت‌المقدس» فراهم کردند؛ عملیات‌های طریق‌القدس، ثامن‌الائمه، فتح‌المبین و در نهایت بیت‌المقدس بودند که منجر به آزادسازی بخش‌های زیادی از خاک کشورمان از اشغال دولت بعثی عراق شدند. خرمشهر نیز بخشی از مناطق آزادشده بود.</span></div>
            </div>
            <div class="alert alert-info">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b>خبرگزاری مهر، گروه فرهنگ و ادب </span></div>
              <div class="text-right"><span>  امیر سرلشگر سیدعبدالرحیم موسوی پیش از ظهر امروز پنجشنبه در آئین گرامیداشت چهارم خرداد روز مقاومت و پایداری، روز دزفول که با حضور مردم و مسئولان در حسینیه ثارالله دزفول برگزار شد، ضمن تبریک ایام مبارک دهه کرامت، اظهار کرد: چهارم خرداد، روز مقاومت و پایداری مردم دزفول است و تقویم جمهوری اسلامی ایران که پر از روزهای بزرگ است به اینکه یک برگش به نام روز دزفول مزین شده افتخار خواهد کرد.</span></div>
            </div>
            <div class="alert alert-success">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b> رئیس مرکز مطالعات راهبردی ارتش جمهوری اسلامی ایران</span></div>
              <div class="text-right"><span> ملت بزرگ ایران مؤلفه‌های قدرت فراوانی دارد، خود را بازیابی کرده و اعتماد به نفس ملی را پیدا کرده است به همین خاطر در طوفان‌های حوادثی که دشمنان ایجاد می‌کنند، با قوت و استحکام جلو می‌رود و تا پیروزی نهایی این مسیر را طی می‌کند.</span></div>
            </div>
            <div class="alert alert-info">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b> امیر سرتیپ احمدرضا پوردستان </span></div>
              <div class="text-right"><span>  پنج شنبه در صبحگاه مشترک رژه نیروهای مسلح استان مرکزی به مناسبت سوم خرداد اظهار داشت: اگر ملتی یا مجموعه‌ای برای جنگ آماده باشد و از ناملایمات نهراسد در جنگ پیروز خواهد شد.</span></div>
            </div>
            <div class="alert alert-success">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b>امیر سرلشکر سیدعبدالرحیم موسوی</span></div>
              <div class="text-right"><span>صبح امروز پنجشنبه همزمان با چهارم خرداد روز مقاومت و پایداری مردم دزفول وارد مرکز فرهنگی و موزه دفاع مقدس دزفول شد و از ۲۸ هزار و ۳۴۲ برگ سند دوران دفاع مقدس ارتش در قالب ۱۴۱ جلد کتاب رونمایی کرد.</span></div>
            </div>
            <div class="alert alert-info">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b> امیر سرتیپ احمدرضا پوردستان </span></div>
              <div class="text-right"><span>  پنج شنبه در صبحگاه مشترک رژه نیروهای مسلح استان مرکزی به مناسبت سوم خرداد اظهار داشت: اگر ملتی یا مجموعه‌ای برای جنگ آماده باشد و از ناملایمات نهراسد در جنگ پیروز خواهد شد.</span></div>
            </div>
            <div class="alert alert-success">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b>امیر سرلشکر سیدعبدالرحیم موسوی</span></div>
              <div class="text-right"><span>صبح امروز پنجشنبه همزمان با چهارم خرداد روز مقاومت و پایداری مردم دزفول وارد مرکز فرهنگی و موزه دفاع مقدس دزفول شد و از ۲۸ هزار و ۳۴۲ برگ سند دوران دفاع مقدس ارتش در قالب ۱۴۱ جلد کتاب رونمایی کرد.</span></div>
            </div>
            <div class="alert alert-info">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b> امیر سرتیپ احمدرضا پوردستان </span></div>
              <div class="text-right"><span>  پنج شنبه در صبحگاه مشترک رژه نیروهای مسلح استان مرکزی به مناسبت سوم خرداد اظهار داشت: اگر ملتی یا مجموعه‌ای برای جنگ آماده باشد و از ناملایمات نهراسد در جنگ پیروز خواهد شد.</span></div>
            </div>
            <div class="alert alert-success">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b>امیر سرلشکر سیدعبدالرحیم موسوی</span></div>
              <div class="text-right"><span>صبح امروز پنجشنبه همزمان با چهارم خرداد روز مقاومت و پایداری مردم دزفول وارد مرکز فرهنگی و موزه دفاع مقدس دزفول شد و از ۲۸ هزار و ۳۴۲ برگ سند دوران دفاع مقدس ارتش در قالب ۱۴۱ جلد کتاب رونمایی کرد.</span></div>
            </div>
            <div class="alert alert-info">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b> امیر سرتیپ احمدرضا پوردستان </span></div>
              <div class="text-right"><span>  پنج شنبه در صبحگاه مشترک رژه نیروهای مسلح استان مرکزی به مناسبت سوم خرداد اظهار داشت: اگر ملتی یا مجموعه‌ای برای جنگ آماده باشد و از ناملایمات نهراسد در جنگ پیروز خواهد شد.</span></div>
            </div>
            <div class="alert alert-success">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b>امیر سرلشکر سیدعبدالرحیم موسوی</span></div>
              <div class="text-right"><span>صبح امروز پنجشنبه همزمان با چهارم خرداد روز مقاومت و پایداری مردم دزفول وارد مرکز فرهنگی و موزه دفاع مقدس دزفول شد و از ۲۸ هزار و ۳۴۲ برگ سند دوران دفاع مقدس ارتش در قالب ۱۴۱ جلد کتاب رونمایی کرد.</span></div>
            </div>
            <div class="alert alert-info">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b> امیر سرتیپ احمدرضا پوردستان </span></div>
              <div class="text-right"><span>  پنج شنبه در صبحگاه مشترک رژه نیروهای مسلح استان مرکزی به مناسبت سوم خرداد اظهار داشت: اگر ملتی یا مجموعه‌ای برای جنگ آماده باشد و از ناملایمات نهراسد در جنگ پیروز خواهد شد.</span></div>
            </div>
            <div class="alert alert-success">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b>امیر سرلشکر سیدعبدالرحیم موسوی</span></div>
              <div class="text-right"><span>صبح امروز پنجشنبه همزمان با چهارم خرداد روز مقاومت و پایداری مردم دزفول وارد مرکز فرهنگی و موزه دفاع مقدس دزفول شد و از ۲۸ هزار و ۳۴۲ برگ سند دوران دفاع مقدس ارتش در قالب ۱۴۱ جلد کتاب رونمایی کرد.</span></div>
            </div>
            <div class="alert alert-info">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b> امیر سرتیپ احمدرضا پوردستان </span></div>
              <div class="text-right"><span>  پنج شنبه در صبحگاه مشترک رژه نیروهای مسلح استان مرکزی به مناسبت سوم خرداد اظهار داشت: اگر ملتی یا مجموعه‌ای برای جنگ آماده باشد و از ناملایمات نهراسد در جنگ پیروز خواهد شد.</span></div>
            </div>
            <div class="alert alert-success">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b>امیر سرلشکر سیدعبدالرحیم موسوی</span></div>
              <div class="text-right"><span>صبح امروز پنجشنبه همزمان با چهارم خرداد روز مقاومت و پایداری مردم دزفول وارد مرکز فرهنگی و موزه دفاع مقدس دزفول شد و از ۲۸ هزار و ۳۴۲ برگ سند دوران دفاع مقدس ارتش در قالب ۱۴۱ جلد کتاب رونمایی کرد.</span></div>
            </div>
            <div class="alert alert-info">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b> امیر سرتیپ احمدرضا پوردستان </span></div>
              <div class="text-right"><span>  پنج شنبه در صبحگاه مشترک رژه نیروهای مسلح استان مرکزی به مناسبت سوم خرداد اظهار داشت: اگر ملتی یا مجموعه‌ای برای جنگ آماده باشد و از ناملایمات نهراسد در جنگ پیروز خواهد شد.</span></div>
            </div>
            <div class="alert alert-success">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b>امیر سرلشکر سیدعبدالرحیم موسوی</span></div>
              <div class="text-right"><span>صبح امروز پنجشنبه همزمان با چهارم خرداد روز مقاومت و پایداری مردم دزفول وارد مرکز فرهنگی و موزه دفاع مقدس دزفول شد و از ۲۸ هزار و ۳۴۲ برگ سند دوران دفاع مقدس ارتش در قالب ۱۴۱ جلد کتاب رونمایی کرد.</span></div>
            </div>
            <div class="alert alert-info">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b> امیر سرتیپ احمدرضا پوردستان </span></div>
              <div class="text-right"><span>  پنج شنبه در صبحگاه مشترک رژه نیروهای مسلح استان مرکزی به مناسبت سوم خرداد اظهار داشت: اگر ملتی یا مجموعه‌ای برای جنگ آماده باشد و از ناملایمات نهراسد در جنگ پیروز خواهد شد.</span></div>
            </div>
            <div class="alert alert-success">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b>امیر سرلشکر سیدعبدالرحیم موسوی</span></div>
              <div class="text-right"><span>صبح امروز پنجشنبه همزمان با چهارم خرداد روز مقاومت و پایداری مردم دزفول وارد مرکز فرهنگی و موزه دفاع مقدس دزفول شد و از ۲۸ هزار و ۳۴۲ برگ سند دوران دفاع مقدس ارتش در قالب ۱۴۱ جلد کتاب رونمایی کرد.</span></div>
            </div>
            <div class="alert alert-info">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b> امیر سرتیپ احمدرضا پوردستان </span></div>
              <div class="text-right"><span>  پنج شنبه در صبحگاه مشترک رژه نیروهای مسلح استان مرکزی به مناسبت سوم خرداد اظهار داشت: اگر ملتی یا مجموعه‌ای برای جنگ آماده باشد و از ناملایمات نهراسد در جنگ پیروز خواهد شد.</span></div>
            </div>
            <div class="alert alert-success">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b>امیر سرلشکر سیدعبدالرحیم موسوی</span></div>
              <div class="text-right"><span>صبح امروز پنجشنبه همزمان با چهارم خرداد روز مقاومت و پایداری مردم دزفول وارد مرکز فرهنگی و موزه دفاع مقدس دزفول شد و از ۲۸ هزار و ۳۴۲ برگ سند دوران دفاع مقدس ارتش در قالب ۱۴۱ جلد کتاب رونمایی کرد.</span></div>
            </div>
            <div class="alert alert-info">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b> امیر سرتیپ احمدرضا پوردستان </span></div>
              <div class="text-right"><span>  پنج شنبه در صبحگاه مشترک رژه نیروهای مسلح استان مرکزی به مناسبت سوم خرداد اظهار داشت: اگر ملتی یا مجموعه‌ای برای جنگ آماده باشد و از ناملایمات نهراسد در جنگ پیروز خواهد شد.</span></div>
            </div>
            <div class="alert alert-success">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b>امیر سرلشکر سیدعبدالرحیم موسوی</span></div>
              <div class="text-right"><span>صبح امروز پنجشنبه همزمان با چهارم خرداد روز مقاومت و پایداری مردم دزفول وارد مرکز فرهنگی و موزه دفاع مقدس دزفول شد و از ۲۸ هزار و ۳۴۲ برگ سند دوران دفاع مقدس ارتش در قالب ۱۴۱ جلد کتاب رونمایی کرد.</span></div>
            </div>
            <div class="alert alert-info">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b> امیر سرتیپ احمدرضا پوردستان </span></div>
              <div class="text-right"><span>  پنج شنبه در صبحگاه مشترک رژه نیروهای مسلح استان مرکزی به مناسبت سوم خرداد اظهار داشت: اگر ملتی یا مجموعه‌ای برای جنگ آماده باشد و از ناملایمات نهراسد در جنگ پیروز خواهد شد.</span></div>
            </div>
            <div class="alert alert-success">
              <div><img class="avatar" src="{{ ASSETS_ROOT }}/img/default-avatar.png" alt="..."></div>
              <div class="text-right"><span><b>منبع خبر: </b>امیر سرلشکر سیدعبدالرحیم موسوی</span></div>
              <div class="text-right"><span>صبح امروز پنجشنبه همزمان با چهارم خرداد روز مقاومت و پایداری مردم دزفول وارد مرکز فرهنگی و موزه دفاع مقدس دزفول شد و از ۲۸ هزار و ۳۴۲ برگ سند دوران دفاع مقدس ارتش در قالب ۱۴۱ جلد کتاب رونمایی کرد.</span></div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
